<% provide(:title, "Log in") %>


<div class="d-flex justify-content-center align-items-center login-box position-absolute">

  <div class="col-sm-12 col-lg-6">
  <h1 class="login-title">Welcome</h1>
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.submit "Log in", class: "btn btn-primary" %>
    <% end %>

  </div>
</div>