<div class="col-12">

  <%= form_for(@customer, :html => {:class => 'row justify-content-end'}) do |c| %>
    <%= render 'error_messages' %>
    <div class="d-flex justify-content-start col-lg-6 col-12 d-lg-none">
      <%= link_to 'Back', customers_path, :class => "custom-btn"%>
    </div>
    <div class="col-lg-6 col-12">
      <%= c.label :name %>
        <%= c.text_field :name, class: 'form-control' %>
      </div>

      <div class="col-lg-6 col-12">
        <%= c.label "Start Date" %>
        <%= c.text_field :relationshipStart, class: 'datepicker' %>
      </div>

      <div class="col-lg-6 col-12">
        <%= c.label "City" %>
        <%= c.text_field :adressCity, class: 'form-control' %>
      </div>

      <div class="col-lg-6 col-12">
        <%= c.label "Postal Code" %>
        <%= c.text_field :adressPostalCode, class: 'form-control' %>
      </div>
      
      <div class="col-lg-6 col-12">
        <%= c.label "Street" %>
        <%= c.text_field :adressStreet, class: 'form-control' %>
      </div>

      <div class="col-lg-6 col-12">
        <%= c.label "Appartement" %>
        <%= c.text_field :adressApt, class: 'form-control' %>
      </div>

      <div class="col-lg-6 col-12">
        <%= c.label "Activity Type" %>
        <%= c.select :activityType, Customer.activityTypes.keys.map {|c| [c.humanize, c]} %>
      </div>

      <div class="col-lg-6 col-12"> 
        <%= c.label "Email" %>
        <%= c.email_field :infoEmail, class: 'form-control' %>
      </div>
      
      <div class="d-lg-flex justify-content-start col-lg-6 col-12 d-none">
          <%= link_to 'Back', customers_path, :class => "custom-btn"%>
      </div>
      <div class="col-lg-6 col-12 mb-3"> 
        <%= c.submit "Save changes", class: "btn btn-primary " %>
      </div>
    </div>
  <% end %>
</div>