<% provide(:title, 'All customers') %>
<h1>All customers</h1>
<div class="d-flex justify-content-end ">
  <%= link_to "Add", new_customer_path, :class => "custom-btn"%>
</div>
<table class="customers table table-responsive-lg">
  <tr>
    <th >Name</th>
    <th>Start date</th>
    <th>Activity Type</th>
    <th>Email</th>
    <th class="icon-link">Edit</th>
    <th class="icon-link">Delete</th>
  </tr>

<%  @customers.each do | customer | %>
  <tr>
    <td scope="row" class="uppercase">
      <%= link_to customer do %>
        <%= customer.name %>
      <% end %>
    </td>
    <td><%= customer.relationshipStart %></td>
    <td class="uppercase"><%= customer.activityType %></td>
    <td><%= customer.infoEmail %></td>
    <td class="icon-link">
      <%= link_to edit_customer_path(customer) do %>
        <%= fa_stacked_icon "edit"%>
      <% end %>
    </td>
    <td class="icon-link">
      <%= link_to customer, method: :delete, data: { confirm: "You sure?" } do %>
        <%= fa_stacked_icon "trash"%>
      <% end %>
    </td>
  </tr>
<% end %>
</table>