<div class="row">
  <section class="user_info col-12">
    <h1>
      <%= @customers.name %>
    </h1>

    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <a class="nav-link active" id="customer-info-tab" data-toggle="tab" href="#customer-info" role="tab" aria-controls="customer-info" aria-selected="true">Info</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Contacts</a>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active customer-info" id="customer-info" role="tabpanel" aria-labelledby="customer-info-tab">
        <div class="row">
          <p class="col-lg-6 col-12">Name: <span><%= @customers.name %></span></p>
          <p class="col-lg-6 col-12">Realationship Start: <span><%= @customers.relationshipStart %></span></p>
          <p class="col-lg-6 col-12">Activity Type: <span><%= @customers.activityType %></p>
          <p class="col-lg-6 col-12">Email: <span><%= @customers.infoEmail %></span></p>
          <p class="col-lg-6 col-12">City: <span><%= @customers.adressCity %></span></p>
          <p class="col-lg-6 col-12">Postal Code: <span><%= @customers.adressPostalCode %></span></p>
          <p class="col-lg-6 col-12">Street: <span><%= @customers.adressStreet %></span></p>
          <p class="col-lg-6 col-12">Apt.: <span><%= @customers.adressApt %></span></p>
        </div>
        <div class="d-flex justify-content-end">
          <%= link_to 'Back', customers_path, :class => "custom-btn "%>
        </div>
      </div>
      <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
        <div class="d-flex justify-content-end mt-2">
          <%= link_to "Add", new_contact_path(customer_id: @customers.id), :class => "custom-btn"%>
      </div>
      <div class="table-responsive-md">
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Firstname</th>
              <th>Email</th>
              <th>Telephone</th>
              <th>Ext</th>
              <th>Edit</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody>
            <% @contacts.each do |contact| %>
            <tr>
              <td><%= contact.name %></td>
              <td><%= contact.firstname %></td>
              <td><%= contact.email %></td>
              <td><%= contact.tel %></td>
              <td><%= contact.ext %></td>
              <td class="icon-link">
                <%= link_to edit_contact_path(contact, customer_id: @customers.id) do %>
                  <%= fa_stacked_icon "edit"%>
                <% end %>
              </td>
              <td class="icon-link">
                <%= link_to contact, method: :delete, data: { confirm: "You sure?" } do %>
                  <%= fa_stacked_icon "trash"%>
                <% end %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="d-flex justify-content-end">
        <%= link_to 'Back', customers_path, :class => "custom-btn"%>
      </div>
    </div>
  </section>
</div>