<div class="col-md-6">
  <%= form_for(@contact) do |c| %>
    <%= render 'error_messages' %>
    <div class="d-flex justify-content-start col-lg-6 col-12 d-lg-none">
      <%= link_to 'Back', customer_path(@contact.customer_id), :class => "custom-btn" %>
    </div>
    <%= c.label "Name" %>
    <%= c.text_field :name, class: 'form-control' %>

    <%= c.label "First Name" %>
    <%= c.text_field :firstname, class: 'form-control' %>

    <%= c.label "Email" %>
    <%= c.email_field :email, class: 'form-control' %>

    <%= c.label "Telephone" %>
    <%= c.telephone_field :tel, class: 'form-control' %>

    <%= c.label "Ext" %>
    <%= c.text_field :ext, class: 'form-control' %>
      
    <%= c.hidden_field :customer_id, class: 'form-control', value: @contact.customer_id  %>
    <div class="row">
      <div class="d-lg-flex justify-content-start col-lg-6 col-12 d-none">
        <%= link_to 'Back', customer_path(@contact.customer_id), :class => "custom-btn" %>
      </div>  
    <div div class="col-lg-6 col-12 mb-3"> 
      <%= c.submit "Save changes", class: "btn btn-primary " %>
    </div>
  <% end %>
</div>
