// Place all the styles related to the Customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.custom-btn {
  width: 100px;
  background-color: #333;
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  padding: 5px 0;
  cursor: pointer;
  text-decoration: none;
  margin-bottom: 10px;
  color: #fff;
  text-decoration: none;
  text-align: center;
  border-radius: 5px;

  &:hover {
    text-decoration: none;
    color: #f9b600;
  }
}

.nav-item {
  .nav-link {
    background: #fff;
    opacity: 0.5;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    &.active {
      opacity: 1;
    }

    &:hover {
      opacity: 1;
    }
  }
}

.customer-info {
  background-color: #fff;
  margin-right: 0 !important;
  margin-left: 0 !important;
  padding: 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

  p {
    font-weight: 700;
    span {
      &:first-letter {
        font-weight: 400;
        text-transform: uppercase;
      }
    }
  }
}

.nav-link {
  color: #333;
  &:hover {
    background-color: #fff;
    color: #333;
  }
}

table {
  border-collapse: collapse;
  width: 100%;
  color: #333;
  background-color: #fff;

  td,
  th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;

    &.uppercase {
      &:first-letter {
        text-transform: uppercase;
      }
    }

    a {
      &:hover {
        text-decoration: none;
      }
    }

    &.icon-link {
      text-align: center;
    }
  }

  tr:nth-child(even) {
    background-color: #f9b600;
  }

  .fa-stack {
    text-align: center;
  }
}

.table-responsive {
  width: 100%;
  margin-bottom: 15px;
  overflow-y: hidden;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

form {
  label {
    font-size: 20px;
    font-weight: 700;
  }
}
