@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
}

h1 {
  &:first-letter {
    text-transform: uppercase;
  }

  color: #fff;
}

.login-title {
  color: #333;
}

.container-website {
  width: 100%;
  height: 100vh;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1200px;
}

body {
  background-color: #005696 !important;
  font-family: "Titillium Web", sans-serif !important;
}

button,
input[type="submit"],
.btn {
  background: none;
  color: inherit;
  border: none;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  background-color: #333;
  color: #fff;
  height: 30px !important;
  margin-bottom: 0;
  padding: 5px 0;
  text-transform: uppercase;

  &.active {
    background-color: #f9b600;
    color: #333;
  }
  &:hover {
    background-color: #f9b600;
    color: #333;
  }
}

header {
  background-color: #333;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.75);
  margin-bottom: 15px;
  a {
    color: #fff;

    &:hover {
      color: #f9b600;
      text-decoration: none;
    }
  }
}

.alert {
  width: 80%;
  margin: 0 auto;

  @media (max-width: 992px) {
    top: 0;
  }
}

.fade-in {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.5s;
}

select {
  padding: 0.375rem 0.75rem !important;
  border-radius: 5px !important;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
